@charset "utf-8";
/* ―――index1のスタイル――― */

/* 表題を中央に */
#top {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ナビゲーションを中央に */
#menu {
    text-align: center;
    
}

/* リンクのボタンのビジュアル */
a {
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 4px;
    border-color :rgb(192, 184, 185)
}

/* リンクにマウスカーソルが乗っている */
a:hover {
    font-size: 1.5em;
}

/* 未訪問のリンク */
a:link {
    color: black;
}

/* 訪問済みのリンク */
a:visited {
    color: rgb(124, 2, 124);
}

/* タイトルのスタイル */
.title {
    width: 700px;
    background-color: rgb(245, 189, 189);

}

/* ―――index3のスタイル――― */
#box-wrapper {
    /* おまじないみたいなもんなんで気にしないで～ */
    overflow: hidden;
}

#box1 {
    float: left;
    width: 20%;
    height: 300px;
    border: 5px solid rgba(180, 99, 6, 0.425);

}
    
#box2 {
    float: left;
    margin-left: 2%;
    width: 20%;
    height: 300px;
    border: 5px solid rgba(5, 112, 148, 0.432);
}

#box3 {
    float: left;
    margin-left: 2%;
    width: 20%;
    height: 300px;
    border: 5px solid rgba(3, 129, 3, 0.452);
}

#box4 {
    float: left;
    margin-left: 2%;
    width: 20%;
    height: 300px;
    border: 5px solid rgba(228, 215, 26, 0.39);
}

div > div > .place {
    text-align: center;
}

#quiz {
    text-decoration-line: underline;
    text-decoration-color: rgba(152, 211, 15, 0.452);
    text-decoration-thickness: 5px;
}

body {
    /* ページを表示するフォントを指定するプロパティ */
    font-family: "Meiryo", "メイリオ", "Hiragino Kaku Gothic ProN";
     
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-image: url(../../hw0724/img/background-color-red.png)
  }
  